.paginat{
    margin-left: 1.5%;
}
.paginat button {
    width: 3.3%;
    height: 5vh;
    font-size: 100%;
    font-family: cvt, sans-serif;
}
.paginat .big {
    width: 5%;
    height: 5vh;
    font-size: 80%;
}
.pageSize {
    background: darkorange;
}